<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div class="layout-navbar">

      <% if !! @session_user %>

        <div class="layout-logout">
          <form action='/logging_out' method='post'>
            <input type="submit" value="Logout">
          </form>
        </div>

        <div class="layout-settings">
          <form action='/user/settings' method='get'>
            <input type="submit" value="Settings">
          </form>
        </div>

        <nav>
          <div class="layout-change_pages" id="layout-home_button">
            <a href='/'><%= @session_user.username %></a>
          </div>
          <div class="layout-change_pages" id="layout-blogs_button">
            <a href='/blogs'>Blogs</a>
          </div>
          <div class="layout-change_pages" id="layout-people_button">
            <a href='/people'>People</a>
          </div>
        </nav>

      <% else %>

        <nav>
          <div class="layout-change_pages" id="layout-home_button">
            <a href='/'>Home</a>
          </div>
          <div class="layout-change_pages" id="layout-blogs_button">
            <a href='/blogs'>Blogs</a>
          </div>
          <div class="layout-change_pages" id="layout-people_button">
            <a href='/people'>People</a>
          </div>
        </nav>

        <form action="/user_logging_in" method="post" class="layout-login_info">
          <input type="text" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <input type="submit" value="Log In" id="layout-login_button">
        </form>

      <% end %>

      <div class="layout-notice_logged_out">
        <%= @notice %>
      </div>

      <div class="layout-notice_wrong_use_pass">
        <%= @notice_wrong %>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="main">
      <%= yield %>
    </div>

    <!-- <nav> <div class=""> <a href='/'>landing</a> </div> <div class=""> <a href='/user/1/profile'>profile</a> </div> <div class=""> <a href='/user/settings'>settings</a> </div> <div class=""> <a href='/user/signup'>signup</a> </div> <div class=""> <a
    href='/user/delete_confirm'>delete</a> </div> <div class=""> <a href='/blogs'>recent blogs</a> </div> <div class=""> <a href='/people'>recent people</a> </div> </nav> -->

  </body>
</html>
