<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div class="">

      <nav>
        <div class="">
          <a href='/'>Home</a>
        </div>
        <div class="">
          <a href='/blogs'>Blogs</a>
        </div>
        <div class="">
          <a href='/people'>People</a>
        </div>
      </nav>

      <div class="">
        <%= @notice %>
      </div>

      <div class="">
        <%= @notice_wrong %>
      </div>

      <form action="/user_logging_in" method="post">
        <input type="text" name="username" placeholder="Username:">
        <input type="text" name="password" placeholder="Password:">
        <input type="submit" value="Log In">
      </form>

      <div class="layout-logout">
        <form action='/logging_out' method='post'>
          <input type="submit" value="Logout">
        </form>
      </div>
    </div>



    <div class="main">
      <%= yield %>
    </div>

    <nav>
      <div class="">
        <a href='/'>landing</a>
      </div>
      <div class="">
        <a href='/user/1/profile'>profile</a>
      </div>
      <div class="">
        <a href='/user/settings'>settings</a>
      </div>
      <div class="">
        <a href='/user/signup'>signup</a>
      </div>
      <div class="">
        <a href='/user/delete_confirm'>delete</a>
      </div>
      <div class="">
        <a href='/blogs'>recent blogs</a>
      </div>
      <div class="">
        <a href='/people'>recent people</a>
      </div>
    </nav>

  </body>
</html>
