<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div class="">

      <% if !! @session_user %>

        
        <div class="layout-change_pages" style="margin: 1vh;">
          <a href='/'><%= @session_user.username %></a>
        </div>
        <div class="layout-change_pages" style="margin: 1vh;">
          <a href='/blogs'>Blogs</a>
        </div>
        <div class="layout-change_pages" style="margin: 1vh;">
          <a href='/people'>People</a>
        </div>
        
        <div class="layout-settings" style="margin-left: 10vw; display: inline-block;">
          <form action='/user/settings' method='get' style="display: inline-block;">
            <input type="submit" value="Settings">
          </form>
        </div>
        
        <div class="layout-logout" style="display: inline-block;">
          <form action='/logging_out' method='post' style="display: inline-block;">
            <input type="submit" value="Logout">
          </form>
        </div>

        

      <% else %>

      
      <div class="layout-change_pages" style="vertical-align: top; margin: 1vh;">
        <a href='/'>Home</a>
      </div>
      <div class="layout-change_pages" style="vertical-align: top; margin: 1vh;">
        <a href='/blogs'>Blogs</a>
      </div>
      <div class="layout-change_pages" style="vertical-align: top; margin: 1vh;">
        <a href='/people'>People</a>
      </div>
      

      <div class="layout-change_pages" style="margin-left: 10vw">
        <form action="/user_logging_in" method="post">
          <input type="text" name="username" placeholder="Username:">
          <input type="password" name="password" placeholder="Password:">
          <input type="submit" value="Log In">
          <div style="color: green">
            <%= @notice %>
          </div>
          <div style="color: red">
            <%= @notice_wrong %>
          </div>
        </form>
        
      </div>

      <% end %>

      

      
    </div>
    <br><br>
    <div class="main">
      <%= yield %>
    </div>

    <!-- <nav> <div class=""> <a href='/'>landing</a> </div> <div class=""> <a href='/user/1/profile'>profile</a> </div> <div class=""> <a href='/user/settings'>settings</a> </div> <div class=""> <a href='/user/signup'>signup</a> </div> <div class=""> <a
    href='/user/delete_confirm'>delete</a> </div> <div class=""> <a href='/blogs'>recent blogs</a> </div> <div class=""> <a href='/people'>recent people</a> </div> </nav> -->

  </body>
</html>
