<div class="main-settings">
  <div class="main__settings__title">Edit Account</div>
  
  <form action="/editing_account" method="POST" class="main-setting-form">
    <div class="main__settings__text">
      Username:
    </div>
    <div class="main__settings__text__spacer_small"></div>
    <input type="text" name="txt_change_username" placeholder="<%= @session_user.username %>" class="main-setting-name">
    <div class="main__settings__text__spacer_big"></div>
    <div class="main__settings__text">
      Password: <%= @session_user.password.length %> 
      <% if @session_user.password.length == 1 %>
        character
      <% else %>
        characters
      <% end %>
    </div>
    <div class="main__settings__text__spacer_small"></div>
    <input type="password" name="pass_change_pass" placeholder="change password" class="main-setting-pass1">
    <div class="main__settings__text__spacer_small"></div>
    <input type="password" name="pass_change_pass2" placeholder="verify password" class="main-setting-pass2">
    <div class="main__settings__text__spacer_big"></div>

    <!-- <input type="submit" value="Apply Changes"> -->
    <div class="main-settings-apply">
      Save changes
    </div>

    <div class="main-settings-error">
      <!-- nothing at first -->
      <%= @warning_message %>
    </div>
    
    <a href="/user/delete_confirm/">
      <div class="main__settings__title__btnDelete">
        Delete account
      </div>
    </a>    
    
  </form>

  
</div>

<!-- import the js script for this page -->
<script src="../javascript/user/settings.js"></script>