<h1>Sign Up</h1>

<form ... onsubmit="return checkForm(this);" action='/creating_user' method='post'>
 <input type="text" name="username" placeholder="username">
 <br>
<input type="password" name="pass1" placeholder="create password">
<br>
<input type="password" name="pass2" placeholder="verify password">
<br>
<input type="submit">
</form>
<div id="error1"></div>
<div id="error2"></div>
<div id="error3"></div>
<div id="error4"></div>
<div id="error5"></div>
<div id="error6"></div>
<div id="error7"></div>
<div id="error8"></div>
<div id="good"></div>
<script src="/javascript/user/signup.js"></script>