// *{
//   border: 1px solid red;
// }

@mixin general_link {
  display: inline-block;
  text-decoration: none;
  color: black;
  user-select: none;
}

body {
  font-family: MyFont;
  font-size: 1.8vmax;
  margin: 0;
}

.layout-navbar {
  text-decoration: none;
  color: black;
  user-select: none;
  position: fixed;
  display: block;
  width: 100%;
  background-color: white;
}

.layout-change_pages {
  display: inline-block;
  margin: 0.5vmax 1vmax;
}

.layout-change_pages a {
  @include general_link;
}

.layout-login_info {
  position: absolute;
  display: block;
  top: 0;
  right: 2vmax;
  width: auto;
}

.layout-login_info input {
  width: 9vmax;
  font-size: 1.8vmax;
  font-family: MyFont;
  border: none;
  border-bottom: 0.1vmax solid black;
  outline-width: 0;
  text-align: center;
  margin: 0.5vmax 1vmax;
}

#layout-login_button {
  border: none;
  color: white;
  background-color: black;
  padding: 0.1vmax 0.5vmax 0.2vmax;
  margin: 0;
  display: inline-block;
  width: auto;
  cursor: pointer;
}

#layout-login_button:active {
  transform: translateY(0.1vmax);
}

.layout-notice {
  text-align: center;
  font-size: 1vmax;
}

#layout-wrong {
  color: red;
  display: inline-block;
}

#layout-logged_out {
  color: green;
  display: inline-block;
}

.layout-spacer {
  height: 6vmax;
}

.layout-signed_in_opt {
  position: absolute;
  top: 0;
  right: 2vmax;
  width: auto;
}

.layout-signed_in_options {
  display: inline-block;
  width: auto;
}

.layout-signed_in_options input {
  width: 9vmax;
  font-size: 1.8vmax;
  font-family: MyFont;
  border: none;
  outline-width: 0;
  text-align: center;
  margin: 0.5vmax 0.2vmax;
  cursor: pointer;
}
