.people {
  text-align: center;
}

.people-title {
  @include page-title;
}

.people__list_item {
  display: inline-block;
  margin: 0.5vmax 1vmax;
}

.people__list_item a {
  text-decoration: none;
  @include author_links;
}

